[Unit]
Description=EMF Arcade Launcher
After=graphical.target multi-user.target
Wants=graphical.target

[Service]
Type=simple
User=arcade
WorkingDirectory=/usr/lib/launcher
ExecStart=/usr/bin/start-launcher.sh
Restart=on-failure
RestartSec=5

Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=graphical.target