[Unit]
Description=Apply arcade dconf
ConditionPathExists=/var/lib/arcade/.setup-complete
After=graphical-session.target

[Service]
Type=oneshot
User=arcade
Group=arcade
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
ExecStart=/usr/bin/arcade-dconf.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target