[Unit]
Description=Apply arcade dconf
ConditionPathExists=/var/lib/arcade/.setup-complete
After=xdg-desktop-portal.service
Requires=xdg-desktop-portal.service

[Service]
Type=oneshot
ExecStart=/usr/bin/arcade-dconf.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target