[Unit]
Description=Tailscale authentication
After=tailscaled.service network-online.target
Requires=tailscaled.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/tailscale up --authkey="$(cat /etc/tailscale-authkey)" --advertise-tags=tag:arcade --ssh --reset && rm -f /etc/tailscale-authkey'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target